
<div class="container">    
    <div class="div row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="div row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>        
    <div class="div row">
        <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-primary" id="btnLogin">Sign in</button>
        </div>
    </div>    
    <div class="div row">
        <div class="offset-sm-2 col-sm-10">
            <button class="btn btn-primary" id="btnGoogleLogin">Sign in</button>
        </div>
    </div>    
    <div class="div row">
        <label id="lbl1"></label>
    </div>
</div>


